section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.wrapper {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    border: solid;
    width: 80%;
    background-color: blue;
}
.SubMenu {
    width: 10%;
    background-color: red;
}
header {
    border-bottom: solid;
    margin-bottom: 10px;
    text-align: center;
}
.Pie {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Text1 {
    text-align: center;
}
.Text2 {
    text-align: center;
}
.Text3 {
    text-align: center;
}